LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""
LIVEKIT_URL=""


# Backend API (for fetching interview context and storing transcripts)
BACKEND_URL=http://localhost:3000/v1
INTERNAL_API_KEY=sFinxsFinxsFinxsFinxsFinxsFinx

# Cartesia TTS (Vietnamese)
CARTESIA_API_KEY=
CARTESIA_VI_MODEL_ID=sonic-3
CARTESIA_VI_VOICE_ID=b8cd71e3-bc14-4538-a530-d6314731c036